@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c5bec5;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  body h1, body h2, body h3 {
    color: purple;
    text-align: center; }
  body header .container-index {
    width: 90%;
    margin: 20px auto;
    background-color: #d394d3; }
    body header .container-index .container-index__ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      body header .container-index .container-index__ul .container-index__li {
        padding: 0.7rem;
        margin: 0.7rem;
        text-decoration: none;
        color: purple; }
        body header .container-index .container-index__ul .container-index__li:hover {
          background-color: #d6cae0;
          color: black; }

main .imagenes {
  background-color: #d394d3;
  display: flex;
  width: 90%;
  padding: 1rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  main .imagenes img {
    border: 2px solid gray;
    opacity: .6;
    width: 300px;
    height: 200px;
    transition: width 2s; }
  main .imagenes img:hover {
    opacity: 1;
    border: solid white;
    height: 250px;
    width: 350px; }

main .contacto-index {
  background-color: #d394d3;
  width: 50%;
  height: 600px; }

.footer-index {
  width: 90%;
  background-color: #d394d3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }
  .footer-index .footer-index__redes {
    margin: auto;
    padding: auto; }
  .footer-index .footer-index__img {
    width: 2rem;
    height: 30px; }

.caja1 {
  background-color: #d3c3a5;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 650px; }

.caja2 {
  background-color: #9ac7c3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 620px; }

.caja3 {
  background-color: #ccaad3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 630px; }

.caja4 {
  background-color: #a295d3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px; }

.caja1 {
  background-color: #d3c3a5;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 700px; }

.caja2 {
  background-color: #9ac7c3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 640px; }

.caja3 {
  background-color: #ccaad3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 660px; }

.caja4 {
  background-color: #a295d3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px; }

.caja1 {
  background-color: #d3c3a5;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 750px; }

.caja2 {
  background-color: #9ac7c3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 660px; }

.caja3 {
  background-color: #ccaad3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 690px; }

.caja4 {
  background-color: #a295d3;
  width: 600px;
  border: solid darkmagenta;
  border-radius: 20px;
  margin: 20px;
  padding: 20px; }

.imagen, .imagen .especiero, .imagen .cortinabaño, .imagen .manta, .imagen .almohadones {
  width: 300px;
  height: 200px; }

main section h2 .cajanosotros {
  display: flex;
  width: 90%;
  margin: 20px auto;
  background-color: #d394d3; }
