
$bg_Principal: rgb(221, 211, 211);
$colorLetra: rgb(90, 72, 72);
$bg_cajanosotros:rgb(204, 170, 211);
$width_caja:70%;
$width_img : 70% ;
$heigth_img : 4rem;
$bg_caja1: $bg_Principal;
$bg_caja2: $bg_Principal;
$bg_caja3: $bg_Principal;
$bg_caja4: $bg_Principal;

$width_nav: 90%;
$margin_nav: 20px auto;


                                       
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    background-color: rgb(197, 190, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    h1, h2, h3{
        color: $colorLetra;
        text-align: center;
        font-weight: bold;
        padding: 1.2rem;
    }
    
}

        .container-index{
            width: 90%;
            margin: 1rem;
            height: 4rem;
            background-color: $bg_Principal;
            display: flex;
            align-items: center;
            
            .container-index__ul{
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    
                    
                .container-index__li{
                   
                    padding: 0.7rem;
                    margin: 0.7rem;
                    
                    .container-index__li__a{
                    color: $colorLetra;
                    text-decoration: none;
                   
                    
                        &:hover{
                            background-color: rgb(190, 187, 187);
                            color: rgb(58, 56, 56);
                           
                        }      
                    
                }
        
        
            }
        }
}
    
        
        

    

main{
    .contenedorPortada{
        width: 90%;
    }
    p{margin: 1.2rem;}
    img{
        width: 100%;
        margin: 1.2rem;
    }
    h2{
        font-size: medium;
       
        margin-top: 1.2rem;
    }
.col-md-3{
    
    font-size: medium;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.imagenes{
    background-color: $bg_Principal;
    display: flex;
    width: 90%;
    padding: 1rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    img{
    border: 2px solid gray;
    opacity: .6;
    width: 250px;
    height: 200px;
    transition: width 2s;

}
    img:hover{
        opacity: 1;
        border: solid white;
        height: 250px;
        width: 300px; 
        transition: 0.5s;
    }  
   

}
.contacto-index{
            background-color:$bg_Principal;
            width: 50%;
            height: 3rem;
            margin-bottom: auto;
            margin-left: 2rem;
        }

}                 

    .footer-index{
        width: 90%;
        height: auto;
        font-size: small;
        padding: 1rem;
        margin: 1.2rem;
        background-color:rgb(158, 153, 153);
        display:flex ;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .footer-index__redes{
            margin: auto;
            padding: auto;
        }
        .footer-index__img{
            width: 2rem;
            height: 30px;
        }
        
    
    }
        
main.categorias{
    display: flex;
    width: 2rem;
    background-color: $bg_Principal;
}  
.caja1 h2{
    padding: 10px;
    
}  
.caja2 h2{
    padding: 10px;
}
.caja3 h2{
    padding: 10px;
}
.caja4 h2{
    padding: 10px;
}
@mixin cajasProductos($bg,$width){
        
        width: $width;
        background-color: $bg_Principal;
        margin: 1.2rem;
        padding: 10px ;
        justify-content: center
         }

@for $i from 1 to 4 {
 
.caja1{
@include cajasProductos($bg_caja1, $width_caja);
    @if $i =1 {
    width : $width_caja + $i*5%;
    }
}
.caja2{
@include cajasProductos($bg_caja2, $width_caja);
    @if $i =2 {
    width : $width_caja + $i*5%;
    }
}  
.caja3{
@include cajasProductos($bg_caja3, $width_caja);
    @if $i =3 {
    width : $width_caja + $i*6%;
    }
}  
.caja4{
@include cajasProductos($bg_caja4, $width_caja);
@if $i =4 {
    width : $width_caja + $i*5%;

     }
    }
    }    
.imagen{
    width: $width_img;
    height: $heigth_img;
    background-color: $bg_Principal;
   
    
    
    .especiero{
     @extend.imagen
     }
     .cortinabaño{
     @extend.imagen
        }
    .manta{
     @extend.imagen
        } 
    .almohadones{
    @extend.imagen
         } 
}
main{
    
    .contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 1rem;
        background-color: $bg_Principal;
        padding: 1rem ;
    
    contenedor.cajaNosotros{
            width: 70%;
            margin: 1rem;
            margin-left: 2rem;
            background-color: $bg_Principal;
            text-align: center;
            
            .TituloNosotros{
                text-align: center;
                padding: 1rem;
                margin-top: 1rem;
            }
            }

    contenedor.imagenNosotros{
        width: $width_img;
        height: $heigth_img;
        background-color: $bg_Principal;
}


}     
}




@media (max-width:768px) {
    .container-index{
            background-color: transparent;
            margin-top: 10rem ;
            margin-bottom: 5rem ;
            height: 4rem;
            display: flex;
            align-items: center;
        }
        
    .container-index ul li{
        width: 100%;
        padding: 16px;
        text-align: left;
        background-color:rgb(221, 211, 211) ;

    }
    }

    @media (max-width:768px){
        .contenedor{display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
            margin: 1rem;
            background-color: $bg_Principal;
            padding: 1rem ;
        
        .imagenNosotros{
            width: 90%;
            height: 90%;
            background-color: $bg_Principal;
    
    }
}
}
@media (max-width:768px){

    .footer-index__img{
        padding: 3px;
        
    
        
    }
    }
    